.filter-search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sort-container,
.search-container {
    flex: 1;
    margin-right: 20px;
}

.animal-catalog-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.animal-catalog {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

.animal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.animal-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
    background-color: #fff;
    transition: transform 0.2s;
}

.animal-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.5em;
}

p {
    color: #666;
    margin: 5px 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #007bb5;
}


